src/
webpack.config.js
*/**/*.ts
*/**/tsconfig.json
*.tgz

!*/**/*.d.ts
demo/
tsconfig.json
typedocconfig.ts
webpack.config.js
tslint.json
dist/typedocconfig.d.ts
Documentation/
node_modules/
.travis.yml
theme/
